In [11]:
import os

if not os.path.exists('./data'):
    os.mkdir("./data")
data_file = "./data/example_data.csv"

with open(data_file, 'w') as f:
    f.write('name,age,gender\n')
    f.write('reimu,16,False\n')
    f.write('ciruno,9,False\n')
    f.write('yikuni,20,True\n')
    f.write('tianyu,NaN,True\n')

In [12]:
import pandas as pd

data = pd.read_csv(data_file)
data

     name   age  gender
0   reimu  16.0   False
1  ciruno   9.0   False
2  yikuni  20.0    True
3  tianyu   NaN    True

In [13]:
data.gender[0]

False

In [14]:
data.age[0] == 16.0

True

In [15]:
data.age[3]

nan

In [21]:
data.fillna(0)

     name   age  gender
0   reimu  16.0   False
1  ciruno   9.0   False
2  yikuni  20.0    True
3  tianyu   0.0    True

In [22]:
data

     name   age  gender
0   reimu  16.0   False
1  ciruno   9.0   False
2  yikuni  20.0    True
3  tianyu   NaN    True